.marco{
    padding-top: 5rem;
    height: 800px;
    background-color: black;
}

.mujerHombre{
    height: 100%;
    width: 100%;

}

.mujerHombre:hover{
    opacity: 0.7;
}


/* Media */
@media only screen and (max-width: 770px){
    .marco{
        height: 500px;
        width: 500px;
        background-color: white;
    }
    .mujerHombre{
        height: 70%;
        width: 70%;
        align-items: center;
        justify-content: center;
    }
}

