.marco{
    padding-top: 0.5rem;
    background-color: black;
    z-index: 1;
    
}

.mujerHombre{
    height: 100%;
    width: 100%;
    padding: 5rem 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 1rem 1rem;
    box-sizing: border-box;

}

.mujerHombre:hover{
    opacity: 0.7;
}

.tituloProductos{
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: sans-serif;
}

.productos{
    padding: 5rem 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 3rem 1rem;
    box-sizing: border-box;
    z-index: 0;
}

.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 10px 2px black;
    border: 6px solid transparent;
    border-radius: 5px;
    
}
.producto:hover{
    border: 6px solid #0c0b0f77 ;
}


.titulo{
    font-weight: 600;
    font-size: 1.5rem;
    color: black;
    font-family: Helvetica, sans-serif;
    
}
.precio{
    font-size: 2rem;
    color: #1a202c;
}
